div(style='display:flex;background-color:#00cc66;justify-content:space-between;align-items:center;margin:auto;')
	h1(style='font-family:Courier New;padding-left:15px;') Deckollab
	a(href="/deck_editor",style='padding-right:15px;') New Deck
