html
	head
		title Deckollab - Editing Deck
		style
			include ../styles/main.css
		include includes/head.pug
	body
		div(style='width:80%;margin:auto')
			include includes/header.pug
			div(style='display:grid;grid-template-columns:minmax(150px,25%)1fr;')
				include deck_editor/card_selector.pug
				include deck_editor/deckview.pug
