html
	head
		title="Deckollab"
		style
			include ../styles/main.css
		include includes/head.pug
		body
			div(style='width:80%;margin:auto')
				include includes/header.pug
				include includes/decks.pug
