div(style='border:thick double;')
	input(type='text',placeholder='Card Search...',id='card_selector',style='border:none;width:100%;font-size:2em;',autocomplete='off')
	div#card_list(style='border-top: thick double;display:flex;flex-wrap: wrap;align-content:flex-start;overflow:scroll;')
script
	include /js/card_selection.js
