div(style='border:thick double;')
	input(type='text',id='card_selector',style='border:none;width:100%;font-size:2em;')
	div(style='border-top: thick double;min-height:1040px;display:flex;')
script
	include /js/card_selection.js
