div(style='display:flex;justify-content:start;padding-left:20px;border-bottom:thick double;border-right:thick double;border-top:thick double;')
	each card in cards
		img(src=card.image_url)
	else
		p Add cards using the box on the left
