div#maindeck(style='display:flex;justify-content:start;padding-left:20px;border-bottom:thick double;border-right:thick double;border-top:thick double;flex-wrap:wrap;align-content:flex-start;')
	script
		include /js/card_view.js
