#maindeck {
	display: flex;
	justify-content: start;
	padding-left:20px;
	border-bottom: thick double;
	border-right: thick double;
	border-top: thick double;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
}

#app {
	width: 80%;
	margin: auto;
	font-family: Courier new;
}

.header {
	display: flex;
	background-color: #00cc66;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.logo {
	padding-left: 15px;
}

.navlink {
	margin-right: 15px;
	cursor: pointer;
}

.navlink:hover {
	background: #ccc;
}

@media screen and (max-width: 800px) {
	#app {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.category {
		display: flex;
		flex-direction: column;
		padding: 0 15px 15px;
		max-width: 51%;
	}
}
@media screen and (min-width: 801px) {
	.category {
		display: flex;
		flex-direction: column;
		padding: 0 15px 15px;
		max-width: 21%;
		min-width: 0;
	}
}

#card_selector {
	border: none;
	width: 100%;
	font-size:2em;
}

#card_list {
	border-top: thick double;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: calc(100% - 2.8em);
	overflow-y: scroll;
}

.grid_cols {
	display: grid;
	grid-template-columns: minmax(150px,25%)1fr;
	height: calc(100vh - 125px);
}

.col_left {
	border: thick double;
	height: inherit;
}

.list_item {
	width: 100%;
	cursor: pointer;
	user-select: none;
	height: min-content;
}

.list_item:hover {
	background: #ccc;
}

