#maindeck {
	border: thick double;
	border-left: none;
}

#app {
	width: 80%;
	margin: auto;
	font-family: Courier new;
}

.header {
	display: flex;
	background-color: #00cc66;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.logo {
	padding-left: 15px;
}

.navlink {
	margin-right: 15px;
	cursor: pointer;
}

.navlink:hover {
	background: #ccc;
}

@media screen and (max-width: 800px) {
	#app {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.category {
		display: flex;
		flex-direction: column;
		padding: 0 15px 15px;
		max-width: 51%;
	}
}
@media screen and (min-width: 801px) {
	.category {
		display: flex;
		flex-direction: column;
		padding: 0 15px 15px;
		max-width: 21%;
		min-width: 0;
	}
}

.card_area {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
	border-top: thick double;
}

.options_bar {
	display: flex;
	align-items: baseline;
	font-size: 1.5em;
}

.options_bar select{
	margin-left: 10px;
	font-size: 1em;
	border: none;
	cursor: pointer;
	background: none;
	-o-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.options_bar select:hover {
	background: #ccc;
}


.category_header {
	text-align: center;
}

.sub_category_header {
	text-align: center;
	margin: 0 0 0 0;
}

#card_selector {
	border: none;
	width: 99%;
	font-size:2em;
}

#card_list {
	border-top: thick double;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
}

.grid_cols {
	display: grid;
	grid-template-columns: minmax(150px,25%)1fr;
	height: calc(100vh - 125px);
}

.col {
	border: thick double;
	height: inherit;
	display: grid;
	grid-template-rows: 2em 1fr;
}

.list_item {
	width: 100%;
	cursor: pointer;
	user-select: none;
	height: min-content;
}

.list_item:hover {
	background: #ccc;
}

